*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper
{
    border: 1px solid red;
    display: table;
    height: 400px;
    margin: auto;
    width: 700px;
}


#left,
#right
{
    height: 850px;
    width: 50%;
}


#left
{
    border: 1px solid #09f;
    float: left;
}

#right
{
    border: 1px solid #000;
    float: right;
}