body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-color: black;
}

body .all {
  width: 350px;
  min-height: 100px;
  border: 1px solid red;
  margin: auto;
  margin-top: 7%;
  background: white;
  border-radius: 6px;
}

body .all .center {
  width: 85%;
  border: 0px solid black;
  margin: auto;
  padding: 0 0;
}

body .all h1 {
  font-family: Nunito;
  text-align: center;
  font-size: 30px;
}

body .all form {
  border: 0px solid red;
  margin-top: -10px;
}

body .all form .one {
  border: 0px solid red;
}

body .all form .one p {
  font-size: 18px;
}

body .all form .one input[type=text] {
  width: 80%;
  outline: none;
  height: 35px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: -10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

body .all form .onee {
  border: 0px solid red;
}

body .all form .onee p {
  font-size: 18px;
}

body .all form .onee input[type=text] {
  width: 80%;
  outline: none;
  height: 35px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: -10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

body .all form .two {
  border: 0px solid red;
}

body .all form .two p {
  font-size: 18px;
}

body .all form .two input[type=email] {
  width: 80%;
  outline: none;
  height: 35px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: -10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

body .all form .three {
  border: 0px solid red;
}

body .all form .three p {
  font-size: 18px;
}

body .all form .three input[type=password] {
  width: 80%;
  outline: none;
  height: 35px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: -10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

body .all form .four {
  border: 0px solid red;
}

body .all form .four p {
  font-size: 18px;
}

body .all form .four input[type=password] {
  width: 80%;
  outline: none;
  height: 35px;
  font-size: 13px;
  padding-left: 10px;
  margin-top: -10px;
  border: 1px solid #eee;
  border-radius: 6px;
}

body .all form button {
  padding: 10px 40px;
  text-align: center;
  margin-top: 10px;
  background: blue;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

body .topnav {
  overflow: hidden;
  background-color: #333;
}

body .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body .topnav a:hover {
  background-color: #ddd;
  color: black;
}

body .topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body .topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  body .topnav a:not(:first-child) {
    display: none;
  }
  body .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  body .topnav.responsive {
    position: relative;
  }
  body .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  body .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body #nav {
  width: 100%;
  min-height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #nav .logo {
  width: 10%;
  height: 30px;
  border: 1px solid red;
}

body #nav #nav-items {
  width: 50%;
  height: 30px;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #nav #nav-items a {
  font-size: 16px;
}

body #nav #nav-items a:hover {
  border-bottom: 1px solid red;
}

body #nav #nav-items #toggle {
  display: none;
}

body #nav #nav-items .show {
  display: block;
}

@media screen and (max-width: 600px) {
  body #nav #nav-items a {
    display: none;
  }
  body #nav #nav-items #toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */