header {
  background-color: white;
  line-height: 50px;
  width: 100%;
  min-height: auto; }
  header .center {
    border: px solid blue;
    min-height: 100px;
    width: 95%;
    margin: auto; }
  header .navbar a strong {
    text-transform: uppercase;
    color: black;
    font-size: 1.7em;
    outline: none !important; }
  header .navbar ul li .nav-link {
    font-family: avenir;
    font-size: 1.3em;
    color: black !important; }
  header .navbar ul li a:hover {
    background-color: lightgrey;
    color: white; }
  header .navbar .navbar-toggler {
    outline: none !important; }

.container-fluid {
  margin: 0;
  padding: 0; }

.all {
  width: 100%;
  min-height: 100%;
  border: px solid red; }

.wrapper {
  width: 100%;
  min-height: 570px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
  background-color: rgba(49, 41, 158, 0.774);
  border: px solid red;
  padding-top: 80px; }
  .wrapper h1 {
    font-family: avenir;
    color: white;
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: normal; }
  .wrapper p {
    font-family: avenir;
    color: white;
    font-size: 20px;
    font-style: normal;
    letter-spacing: normal; }
  .wrapper button {
    padding: 0.8rem 2.3rem;
    border-radius: 6px;
    background-color: #e73b31;
    border: none;
    color: white;
    font-family: avenir;
    font-size: 17px; }

.box {
  width: 100%;
  min-height: 570px;
  border: px solid blue;
  background-color: white; }
  .box .square {
    width: 85%;
    min-height: 480px;
    border: px solid black;
    margin: 30px auto;
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
    text-align: center; }
    .box .square h1 {
      font-family: avenir;
      font-size: 45px;
      font-weight: bold;
      color: black;
      padding-top: 50px; }
    .box .square .row {
      padding-top: 30px; }
      .box .square .row .col-lg-4 {
        border-right: 1px solid #e4e0e0; }
      .box .square .row h3 {
        font-family: avenir; }
      .box .square .row p {
        font-family: avenir; }

.rectangle {
  width: 100%;
  min-height: 450px;
  border: px solid black;
  background-color: #312a9c;
  padding-top: 70px; }
  .rectangle h3 {
    font-family: avenir;
    font-size: 25px;
    color: lightgrey;
    font-weight: normal; }
  .rectangle h1 {
    font-family: avenir;
    font-size: 35px;
    color: white; }
  .rectangle P {
    font-family: avenir;
    font-size: 16px;
    color: lightslategray;
    font-weight: normal; }
  .rectangle strong {
    color: white;
    font-size: 35px; }
  .rectangle .card-2 {
    width: 48%;
    min-height: 300px;
    background-color: white;
    display: inline-block;
    margin: 15px 5px; }

.our {
  width: 100%;
  min-height: 800px;
  background-image: url(../background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: px solid red;
  padding-top: 70px; }
  .our h3 {
    font-family: avenir;
    font-size: 27px;
    color: lightslategray;
    font-weight: normal; }
  .our h1 {
    font-family: avenir;
    font-size: 35px; }
  .our p {
    font-family: avenir;
    font-size: 16px;
    color: lightslategray;
    font-weight: normal; }
  .our strong {
    font-size: 23px;
    font-weight: normal;
    font-family: avenir;
    color: black; }
    .our strong span {
      color: #e73b31; }
  .our .card {
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); }

.section {
  width: 100%;
  min-height: 600px;
  border: px solid black;
  padding-top: 40px; }
  .section h1 {
    font-size: 50px;
    font-family: avenir;
    font-weight: bold;
    padding-top: 30px;
    letter-spacing: normal; }
  .section p {
    font-family: avenir;
    font-size: 18px;
    letter-spacing: normal;
    font-weight: normal; }
  .section ol {
    margin-left: -20px; }
    .section ol li {
      font-size: 16px;
      font-family: avenir;
      font-weight: normal;
      letter-spacing: normal; }

.footer {
  width: 100%;
  min-height: 600px;
  border: px solid red;
  clip-path: polygon(42% 0, 100% 10%, 100% 100%, 0 100%, 0 16%);
  background-color: #312a9c;
  padding-top: 200px; }
  .footer .heads {
    font-size: 30px;
    color: white;
    font-weight: bold; }
  .footer a {
    text-decoration: none;
    color: white;
    font-family: avenir;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    margin-left: 25px; }
  .footer P {
    color: white;
    font-family: avenir;
    font-size: 18px;
    line-height: 2;
    letter-spacing: normal; }

.row {
  border: px solid #09f; }

* [class^=col] {
  border: px solid green; }
