nav,
header,
main,
footer{
  display: block;
}

body{
    line-height: 1;
    margin:0px;
    width: 100%;
    overflow: scroll;
     

 
}


/*######## nav bar #########*/



nav{
   width:100%;
  height: 50%;
   margin: 0;
   
}

nav ul{
    background-color: #192b52;
    overflow: hidden;
    margin: 0;
    padding: 0;
   
}

ul.topnav li{
    list-style: none;
    margin-top:6px ;
}

ul.topnav  li{
    float: left;
    
}
ul.topnav li a{
   
    display: block;
    text-decoration: none;
    min-height: 30px;
    text-align: center;
    padding: 30px;
    height: 14px;
    text-transform: uppercase;
    color: #000000;
  font-family: Averta;
  font-size: 13px;
  letter-spacing: normal;
  color:white;
}

ul.topnav li a:hover{
     background-color:lightgray;
    color: beige; 
}

button{
  margin-left: 180px;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 13px;
  color: #ffffff;
  border: solid 0.1px #d6c6a8;
  background-color: #3163e1;
}

.container{
  width: 100%;
  height: 450px;
  background-image: linear-gradient(to top, rgba(251, 252, 254, 0.7), #f6f7fc);
  margin-top: 0;
  overflow: hidden;

}

h2{
  width: 60%;
  height: 95px;
  font-family:Avenir ;
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 100px;
  margin-top: 90px;
}

 span{
 color:  #3a66d5;
}

p{
  width: 393px;
  height: 128px;
  font-family: Avenir;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 100px;
  margin-top: -18px;
}

.container img {
  float: right;
  width: 500px;
  height: 350px;
  object-fit: contain;
  margin-top: -250px;
  margin-right: 100px;

}

#wrapper{
  width: 100%;
  height: 1270px;
  background-color:var(--white);
}

#wrapper-2{
  display: table;
  width: 1200px;
  margin-left: 140px;

}
#wrapper-2 img{
  display: inline-block;
  object-fit: contain;
  padding: 40px;
  width: 130px;
  height: 80px;
   
}

#line{
  width:1100px;
  height: 80px;
  background-color:;
  margin-left:150px;


}


#line1{
  width: 1000px;
  height: 50px;
  border:none;
  border-bottom: dotted 5px lightgray ; 
  margin-top: 
}

#Our-philosophy{
  width: 302.1px;
  height: 36px;
  font-family: Avenir;
  font-size:40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a66d5;
  margin-left: 150px;
  margin-top: 20px;

}

#wrapper-3{
  display: table;
  float: f
  width: 100%;
  margin-top: 100px;
  margin-left:20px;
}

.card{
  display: inline-block;
  background-color: white;
  border:1px solid lightgray;
  margin-top: 30px;
   width: 550px;
  height: 210px;
  margin: 20px 50px;
  border-radius: 5px;
  
}

.card img{
    width: 83.9px;
  height: 83.9px;
  object-fit: contain;
  margin-top: 65px;
  margin-left: 20px;
  
}

.Transparency{
  margin-left:200px;
  margin-top: -140px;
  width: 124px;
  height: 24px;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484f5f;
}

.We-keep-our-doors-a{
  width: 293.4px;
  height: 54.4px;
  font-family:Avenir ;
  font-size: 17.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 170px;
  margin-top: 25px;
}

.container-3{
  width: 100%;
  display: table;
  height: 400px;
  background-image: linear-gradient(to top, rgba(251, 252, 254, 0.7), #f6f7fc);
  margin-top: 0;
  overflow: hidden; 
}

.container-3 img {
  width: 420px;
  height: 336px;
  object-fit: contain;
  margin-top:70px;
  margin: 15px -100px -40px -70px; 
  margin-left: 5px;
}

#wrapper-4{
  width: 100%;
  height: 400px;
  background-color: var(--white);
}

#This-is-only-the-start {
  width: 304px;
  height: 36px;
  font-family: avenir;
  font-size: 31px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a66d5;
  margin-left: 150px;
  margin-top: 15px;
 
}
.In-our-sojourn-to-bu{
  width: 763px;
  height: 153px;
  font-family: avenir;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 160px;
  margin-top: 20px;
}

#wrapper-5{
  display: table;
  width: 100%;
  height: 400px;
 background-image: linear-gradient(to top, rgba(251, 252, 254, 0.7), #f6f7fc);
 text-align: center;
}

#square{
  display: inline-block;
  background-color: white;
  border:none;
  margin-top: 50px;
   width: 500px;
  height: 250px;
  margin: 70px 50px;
  border-radius: 6px;
}

.Ellcryss-audacity-t{
  width: 256px;
  height: 52px;
  font-family: avenir;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 50px;
  margin-top: 15px;
}

#square img{
  height: 80px;
  margin-top: 35px;
}

.Emeka-Hanson-Advisor{
  width: 119px;
  height: 12px;
  font-family: avenir;
  font-size: 11.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #495060;
  margin-left: 110px;
  margin-top: -50px;
}

.image img {
  margin-left: 440px;
margin-top: -70px;
width: 60px;
height: 10px;
}

#wrapper-6{
  width: 100%;
  height: 700px;
 background-color:var(--white);
}
 

.media{
  width: 302.1px;
  height: 36px;
  font-family: Avenir;
  font-size:40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a66d5;
  margin-left: 150px;
  margin-top: 20px;
}

#wrapper-7{
  display: table;
 width: 100%;
  height: 450px;
 margin-top: 100px;
 margin-left: 100px;
}

.square-2{
  display: inline-block;
  width: 350px;
  height: 140px;
  border-radius: 4.2px;
  background-color: white;
  border:1px solid lightgray;
  margin-top: 40px;
  margin-left: 50px;
  box-shadow: 0 10px 10px 0 rgba(51, 64, 88, 0.04);
}

.A-Blockchain-for-Col{
   width: 123.2px;
  height: 39.2px;
  font-family: avenir;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #353656;
  margin-left: 110px;
  margin-top: 15px;
}

.square-2 img{
  width: 60px;
  height: 40px;
  margin-left: 290px;
  margin-top: 40px;

}

#footer {
  display:table;
  width: 100%;
  height:450px;
  background-color: #fafbfe;
  
}

#company{
  display:inline-block;
  width: 90px;
  height: 20px;
  font-family: avenir;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #484f5f;
  margin-left: 60px;
  padding: 50px;
margin: 30px 20px 20px 80px; 
float: left
}

#company ul li {
   width: 135px;
  height: px;
  font-family: Gordita;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #484f5f;
  list-style: none;
}

/*######## mobile #########*/


@media screen and (max-width: 800px) {
   ul.topnav li:not(:nth-child(1)){
       display:none;
   }

